azure-search-documents==11.0.0 # for Cognitive Search
azure-ai-textanalytics==5.3.0 # This is same for Custom Classification, same for NERs
azure-ai-language-questionanswering # for QnA Solutions
azure-ai-language-conversations # for Conversational Language Understanding Solutions
azure-ai-translation-text==1.0.0b1 # for translations
azure-cognitiveservices-speech==1.30.0 # for speech, for speech translation
python-dotenv
flask